* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: white;
    background-color: black;
    overflow-x: hidden;
    position: relative;
}

body .banner {
    position: fixed;
    z-index: -1;
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}

body::-webkit-scrollbar {
    display: none;
  }

/* navbar start */

body .navbar .container-nav .active {
    background-color: red;
    color: black;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar-brand {
    display: flex;
    align-items: inherit;
}

#status {
    background-color: gray;
    border-radius: 6px;
    padding: 6px 8px;
    margin-left: 1rem;
}

.navbar .navbar-brand .logo {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.navbar .navbar-brand p {
    font-size: 1.4rem;
}

.navbar .navbar-brand p span {
    font-size: 1rem;
}

.navbar .container-nav .subnav {
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 0.4rem;
    color: inherit;
    transition: 0.2s;
    font-weight: 700;
    font-family: sans-serif;
}

.navbar .container-fluid .navbar-brand span {
    color: white;
}

.navbar .container-nav .subnav {
    padding: 10px 14px;
}

.navbar .container-nav .subnav:hover {
    background-color: red;
    color: black;
}

/* navbar end */

/* content start */

.form {
    width: 50%;
    background-color: rgba(29, 37, 48, 0.8);
    margin: 6rem auto 10rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
}

.form h1 {
    text-align: center;
}

.form label {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem 0;
}

.form input {
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid black;
    display: block;
    width: 80%;
    margin: auto;
}

.form #btn, .kembali {
    display: block;
    margin: 3rem auto 0;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: red;
    transition: 0.3s;
}

.form #btn:hover, .kembali:hover {
    transform: scale(1.1);
}

/* #hasil  */

.subhasil {
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
}

.subhasil p {
    font-size: 2rem;
    margin-top: 2rem;
}

.none {
    display: none;
}

/* content end */

/* footer start */

.footer {
    padding: 4rem 8rem;
    background-color: rgba(29, 37, 48);
    margin: 4rem auto 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.ringkasan, .kontak, .lokasi {
    width: 25rem;
    height: fit-content;
    padding: 2rem;
}

.ringkasan .logo {
    display: flex;
    align-items: center;
}

.ringkasan .logo img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

.ringkasan .logo p {
    font-size: 1.4rem;
}

.ringkasan .deskripsi {
    margin-top: 2rem;
    line-height: 1.5;
}

.ringkasan .logo p span {
    font-size: 1rem;
}

.kontak h2 {
    margin-bottom: 3.2rem;
}

.kontak .detail {
    display: flex;
}

.kontak .label, .kontak .isi {
    line-height: 1.5;
    width: fit-content;
}

.kontak .isi {
    margin-left: 1rem;
}

.lokasi iframe {
    margin-top: 3.3rem;
    height: 10rem;
    width: 100%;
}

.ahli span {
    background-color: yellow;
    color: black;
}

.copy p {
    padding: 0 0 2rem 10%;
    background-color: rgba(29, 37, 48);
}

#gas {
    margin: 15rem 0;
    text-align: center;
}

.loading h2 {
    text-align: center;
}

.lag {
    width: 5rem;
    height: 5rem;
    animation: spin 1s infinite;
    background-color: red;
    margin: 2rem auto 0;
}

/* footer end */

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

/* media queries */

@media (max-width: 450px) {
    html {
        font-size: 55%;
        max-width: 450px;
    }

    body {
        overflow-x: hidden;
    }

    .navbar {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .navbar .navbar-brand p {
        display: none;
        background-color: red;
    }

    .navbar .container-nav .subnav {
        margin-right: 0;
        padding: 6px;
        font-size: 12px;
    }

    .form {
        width: 90%;
    }

    .footer {
        font-size: 1.6rem;
        padding: 2rem;
    }

    .ringkasan, .kontak, .isi {
        width: 80%;
    }

    .copy {
        font-size: 1.4rem;
    }
}